<h1 align="center" style="color:blue;font-size:2.5em">Class 02 Calculate Return</h1>

Preparation

In [2]:
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
pd.set_option('display.max_columns', None)#设置输出所有的列

<font size="6" color=#87CEEB>✨常用的 Jupyter/IPython 魔法命令✨</font>  
- 魔法命令分为两类：<span style="color: #87CEEB">行魔法</span>（以 % 开头，作用于单行）与<span style="color: #87CEEB">单元魔法</span>（以 %% 开头，作用于整个单元）。 
- 使用 %lsmagic 可列出当前环境可用的所有魔法，%quickref 查看速查帮助，任意魔法后加 ? 可看用法说明。

<font size="5" color= #189bcfff>计时与性能分析</font>   
- %time / %%time：测量<span style="color: #e1501cff">单行或整个单元格</span>的运行耗时，快速获得一次性计时结果。  
- %timeit / %%timeit：自动多次运行并给出统计（如均值、标准差），适合更可靠的<span style="color: #e1501cff">微基准测试</span>。   
- %prun：基于 cProfile 的函数级性能分析，查看<span style="color: #e1501cff">不同函数的耗时构成</span>。  
- 可选扩展：%lprun（<span style="color: #e1501cff">逐行耗时</span>，需要 line_profiler 扩展）与 %memit（<span style="color: #e1501cff">内存峰值</span>，需要 memory_profiler 扩展），需先 %load_ext line_profiler 或 %load_ext memory_profiler 才能使用。

<font size="5" color= #189bcfff>调试与异常</font>   
- %debug：在异常发生后进入交互式调试器（pdb）。   
- %pdb：切换在异常发生时自动进入调试器的开关。  
- %xmode：设置异常信息的详细程度（Plain/Context/Verbose）。

<font size="5" color= #189bcfff>运行、导入/导出与历史</font>   
- %run script.py：在当前内核中运行外部 Python 脚本或 Notebook 片段（支持参数）。   
- %load 路径或URL：将外部脚本或网页片段载入到当前单元格中以便编辑/运行。           
- %%writefile 文件名：<span style="color: #e1501cff">把整个单元格内容写入文件</span>（常用来快速生成脚本/配置）。  
- %history：查看输入历史，支持筛选/输出到文件等选项。  
- %save：将历史中的某些输入行保存到文件。

<font size="5" color= #189bcfff>变量与会话管理</font>       
- %who / %who_ls / %whos：列出当前命名空间中的变量，%whos 显示更详细的类型与大小信息。    
- %reset / %xdel：清空（或选择性清理）交互命名空间、彻底删除对象并尝试释放内存。  
- %store 变量名：在不同会话之间持久化/恢复变量（轻量跨会话传递）。

<font size="5" color= #189bcfff>环境与系统</font>    
- %pwd / %cd：查看或切换当前<span style="color: #e1501cff">工作目录</span>。   
- %env：查看、设置<span style="color: #e1501cff">环境变量</span>（如 %env MY_VAR=value）。   
- %config：查看或设置各类交互式选项（如绘图后端、显示精度等）。

<font size="5" color= #189bcfff>显示与可视化</font>        
- %matplotlib inline（或 widget 等）：设置 Matplotlib 的绘图后端（inline 将图嵌入输出）。
- %%html / %%latex / %%javascript / %%svg：直接在输出中渲染 HTML、LaTeX、JS、SVG 内容。
- %%capture：捕获单元格的标准输出/错误输出（可赋给变量以便后续处理）。

<font size="5" color= #189bcfff>Shell/脚本与多语言</font> 
- %%bash / %%sh / %%script：在整个单元格中以指定脚本语言运行（最常用的是 bash/sh）。

<font size="5" color= #189bcfff>扩展与生态</font> 
- %load_ext / %unload_ext / %reload_ext：加载、卸载或重载 IPython 扩展，许多第三方扩展会提供额外的魔法命令（如上面的 line_profiler/memory_profiler）。     
提示：不同内核或环境中可用的魔法可能略有差异，先用 %lsmagic 检查你当前会话支持的命令集合。

Data Import

In [3]:
%load_ext line_profiler
%lprun
data = pd.read_csv('./000001.csv') 
data['Day'] = pd.to_datetime(data['Day'],format='%Y/%m/%d') #更改Day列格式为XXXX-XX-XX
data.set_index('Day', inplace = True) #重建行索引为Day列
data.sort_values(by = ['Day'],axis=0, ascending=True) #Day列升序排序

            Preclose      Open   Highest    Lowest     Close
Day
1990-12-19              96.050    99.980    95.790    99.980
1990-12-20     99.98   104.300   104.390    99.980   104.390
1990-12-21    104.39   109.070   109.130   103.730   109.130
1990-12-24    109.13   113.570   114.550   109.130   114.550
1990-12-25    114.55   120.090   120.250   114.550   120.250
...              ...       ...       ...       ...       ...
2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
2025-08-28   3800.35  3796.711  3845.087  3761.422  3843.597
2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 5 columns]

Timer unit: 1e-07 s

<font size="6" color=#87CEEB>Return Calculation Basics收益率计算基础 </font>

股票的收益率的计算一般使用的是**收盘价**来计算   
- Raw Return: $R_t = \frac{p_t}{p_{t-1}}-1$
- Log Return: $r_t = \log(p_t) - \log(p_{t-1})$     
自然对数收益率与原始收益率的关系：
$r_t = \log(1 + R_t)$    
在实际数据中，我们常用收盘价来计算收益率：收盘价通常是收盘集合竞价的结果，避免前瞻性偏差（look-ahead bias）  
<font size="5" color= #16b75eff>对数收益率和原始收益率的区别</font>
- **原始收益率**关注实际资金变化，用于计算投资组合的最终真实价值、绩效指标和涉及现金流的计算。    
- **对数收益率**关注数学便利和统计性质，用于金融建模、理论研究、时间序列分析和量化策略研发。

<font size="6" color=red>日度收益率计算 (Daily Return Calculation)</font>

In [4]:
data_new = data['1995-01':'2025-08'].copy()
data_new['Close'] = pd.to_numeric(data_new['Close']) #转成数值型
data_new['Preclose'] = pd.to_numeric(data_new['Preclose'])
data_new

            Preclose      Open   Highest    Lowest     Close
Day
1995-01-03   647.870   637.720   647.710   630.530   639.880
1995-01-04   639.880   641.900   655.510   638.860   653.810
1995-01-05   653.810   655.380   657.520   645.810   646.890
1995-01-06   646.890   642.750   643.890   636.330   640.760
1995-01-09   640.760   637.520   637.550   625.040   626.000
...              ...       ...       ...       ...       ...
2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
2025-08-28  3800.350  3796.711  3845.087  3761.422  3843.597
2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[7445 rows x 5 columns]

<font size="6" color=red>多种日度收益率计算方法</font>

In [5]:
#法1：直接使用向量化操作（最推荐）
data_new['Raw_return'] = data_new['Close'] / data_new['Preclose'] - 1
data_new['Log_return'] = np.log(data_new['Close']) - np.log(data_new['Preclose'])

#法2：使用pandas的pct_change函数计算收益率（适用于时间序列数据）
# 注意：这种方法需要数据已经按时间排序
data_new['Pct_change_return'] = data_new['Close'].pct_change()

# 方法3：使用apply方法（不推荐，因为速度较慢）
data_new['Apply_return'] = data_new.apply(lambda row: row['Close'] / row['Preclose'] - 1, axis=1)

# 方法4：使用diff和div方法组合（另一种向量化操作）
#data_new['Close'].diff() 等价于 data_new['Close'].diff(1)。它会创建一个新序列，其中每个位置的值都是 “当前收盘价”减去“前一个收盘价” 的差。
data_new['Diff_div_return'] = data_new['Close'].diff() / data_new['Close'].shift(1) #shift(1)会创建一个新序列，其中每个位置的值都是原序列中前一个位置

# 比较不同方法计算结果的差异
data_new

,Preclose,Open,Highest,Lowest,Close,Raw_return,Log_return,Pct_change_return,Apply_return,Diff_div_return
Day,,,,,,,,,,
1995-01-03,647.870,637.720,647.710,630.530,639.880,-0.012333,-0.012409,NaN,-0.012333,NaN
1995-01-04,639.880,641.900,655.510,638.860,653.810,0.021770,0.021536,0.021770,0.021770,0.021770
1995-01-05,653.810,655.380,657.520,645.810,646.890,-0.010584,-0.010641,-0.010584,-0.010584,-0.010584
1995-01-06,646.890,642.750,643.890,636.330,640.760,-0.009476,-0.009521,-0.009476,-0.009476,-0.009476
1995-01-09,640.760,637.520,637.550,625.040,626.000,-0.023035,-0.023305,-0.023035,-0.023035,-0.023035
...,...,...,...,...,...,...,...,...,...,...
2025-08-25,3825.759,3848.163,3883.562,3839.972,3883.562,0.015109,0.014996,0.015109,0.015109,0.015109
2025-08-26,3883.562,3871.471,3888.599,3859.758,3868.382,-0.003909,-0.003916,-0.003909,-0.003909,-0.003909
2025-08-27,3868.382,3869.612,3887.198,3800.350,3800.350,-0.017587,-0.017743,-0.017587,-0.017587,-0.017587
2025-08-28,3800.350,3796.711,3845.087,3761.422,3843.597,0.011380,0.011315,0.011380,0.011380,0.011380
2025-08-29,3843.597,3842.823,3867.606,3839.206,3857.927,0.003728,0.003721,0.003728,0.003728,0.003728

<font size="6" color=red>循环方法比较</font>  
- 循环效率低，在大数据集上会非常慢，能不用不用

In [6]:
# 创建新列存储结果
if 'Loop_return' not in data_new.columns:
    data_new['Loop_return'] = np.nan

# 使用for循环计算
for i in range(len(data_new)):
    data_new.iloc[i, data_new.columns.get_loc('Loop_return')] = data_new.iloc[i, data_new.columns.get_loc('Close')] / data_new.iloc[i, data_new.columns.get_loc('Preclose')]-1 #按行列号查找计算

# 方法6：使用zip和enumerate组合（比纯for循环更Pythonic）

close_values = data_new['Close'].values
preclose_values = data_new['Preclose'].values
loop_return_values = []

for i, (close, preclose) in enumerate(zip(close_values, preclose_values)):
    if preclose != 0 and not np.isnan(preclose):
        loop_return_values.append(close / preclose - 1)
    else:
        loop_return_values.append(np.nan)

data_new['Loop_return2'] = loop_return_values

# 方法7：使用numpy的向量化操作（高效且简洁）
data_new['Numpy_return'] = (data_new['Close'].values / data_new['Preclose'].values) - 1

# 显示结果
data_new

,Preclose,Open,Highest,Lowest,Close,Raw_return,Log_return,Pct_change_return,Apply_return,Diff_div_return,Loop_return,Loop_return2,Numpy_return
Day,,,,,,,,,,,,,
1995-01-03,647.870,637.720,647.710,630.530,639.880,-0.012333,-0.012409,NaN,-0.012333,NaN,-0.012333,-0.012333,-0.012333
1995-01-04,639.880,641.900,655.510,638.860,653.810,0.021770,0.021536,0.021770,0.021770,0.021770,0.021770,0.021770,0.021770
1995-01-05,653.810,655.380,657.520,645.810,646.890,-0.010584,-0.010641,-0.010584,-0.010584,-0.010584,-0.010584,-0.010584,-0.010584
1995-01-06,646.890,642.750,643.890,636.330,640.760,-0.009476,-0.009521,-0.009476,-0.009476,-0.009476,-0.009476,-0.009476,-0.009476
1995-01-09,640.760,637.520,637.550,625.040,626.000,-0.023035,-0.023305,-0.023035,-0.023035,-0.023035,-0.023035,-0.023035,-0.023035
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-08-25,3825.759,3848.163,3883.562,3839.972,3883.562,0.015109,0.014996,0.015109,0.015109,0.015109,0.015109,0.015109,0.015109
2025-08-26,3883.562,3871.471,3888.599,3859.758,3868.382,-0.003909,-0.003916,-0.003909,-0.003909,-0.003909,-0.003909,-0.003909,-0.003909
2025-08-27,3868.382,3869.612,3887.198,3800.350,3800.350,-0.017587,-0.017743,-0.017587,-0.017587,-0.017587,-0.017587,-0.017587,-0.017587
2025-08-28,3800.350,3796.711,3845.087,3761.422,3843.597,0.011380,0.011315,0.011380,0.011380,0.011380,0.011380,0.011380,0.011380
2025-08-29,3843.597,3842.823,3867.606,3839.206,3857.927,0.003728,0.003721,0.003728,0.003728,0.003728,0.003728,0.003728,0.003728

<font size="6" color=red>月度收益</font>

In [7]:
#法1：注意用对数收益率具有可加性
Month_data1 = data_new.resample('ME')['Log_return'].sum().to_frame(name='Log_return') #resample函数对时间序列数据进行重采样，结合.sum()函数
Month_data1['Raw_Return'] = np.exp(Month_data1['Log_return'])-1
Month_data1['Year'] = Month_data1.index.year #添加年列
Month_data1['Month'] = Month_data1.index.month #添加月列
Month_data1.head()

            Log_return  Raw_Return  Year  Month
Day
1995-01-31   -0.141139   -0.131631  1995      1
1995-02-28   -0.023979   -0.023694  1995      2
1995-03-31    0.163651    0.177803  1995      3
1995-04-30   -0.109315   -0.103552  1995      4
1995-05-31    0.188901    0.207922  1995      5

In [8]:
#法2：取月末价格计算月度收益率
Month_data2 = data_new.resample('ME')['Close'].last().to_frame() #改成dataframe格式，为后续增加列做准备，不然错误
Month_data2['Preclose'] = Month_data2['Close'].shift(1) #新增前一天收盘价列
Month_data2['Raw_return'] = Month_data2['Close'] / Month_data2['Preclose'] - 1 #公式计算
Month_data2['Log_return'] = np.log(Month_data2['Close']) - np.log(Month_data2['Preclose'])
Month_data2['Year'] = Month_data2.index.year
Month_data2['Month'] = Month_data2.index.month
Month_data2.tail()

               Close  Preclose  Raw_return  Log_return  Year  Month
Day
2025-04-30  3279.031  3335.746   -0.017002   -0.017148  2025      4
2025-05-31  3347.487  3279.031    0.020877    0.020662  2025      5
2025-06-30  3444.426  3347.487    0.028959    0.028547  2025      6
2025-07-31  3573.208  3444.426    0.037389    0.036707  2025      7
2025-08-31  3857.927  3573.208    0.079682    0.076666  2025      8

In [9]:
#法3：groupby方法
data_new3 = data_new.copy()
data_new3['year'] = data_new3.index.year
data_new3['month'] = data_new3.index.month #先提取年月信息
Month_data3 = data_new3.groupby(['year', 'month'])['Log_return'].sum().to_frame() #再分组求和
Month_data3['Raw_Return'] = np.exp(Month_data3['Log_return']) - 1 #利用自然对数收益率与原始收益率的关系计算
Month_data3

            Log_return  Raw_Return
year month
1995 1       -0.141139   -0.131631
     2       -0.023979   -0.023694
     3        0.163651    0.177803
     4       -0.109315   -0.103552
     5        0.188901    0.207922
...                ...         ...
2025 4       -0.017148   -0.017002
     5        0.020662    0.020877
     6        0.028547    0.028959
     7        0.036707    0.037389
     8        0.076666    0.079682

[368 rows x 2 columns]

In [10]:
#法4：用apply和lambda函数进行更灵活的分组计算
#apply函数沿 DataFrame 的轴（行或列）应用函数。它允许你对数据执行复杂的操作，而无需编写显式的循环。
Month_data4 = pd.DataFrame(
    data_new3.groupby(['year', 'month'])['Log_return'].apply(lambda x: sum(x))) #用lambda函数定义了求和
Month_data4.columns = ['Log_return']
Month_data4['Raw_Return'] = np.exp(Month_data4['Log_return'])-1
print(Month_data4.head())

            Log_return  Raw_Return
year month
1995 1       -0.141139   -0.131631
     2       -0.023979   -0.023694
     3        0.163651    0.177803
     4       -0.109315   -0.103552
     5        0.188901    0.207922

In [11]:
#法5：使用agg函数（用于聚合操作的函数）同时计算多个统计量
Month_data5 = data_new3.groupby(['year', 'month']).agg({
    'Log_return': ['sum', 'mean', 'std', 'count'],  #月自然对数收益率，平均值，标准差，交易日数
    'Raw_return': ['mean', 'std']})
print(Month_data5.head())

           Log_return                           Raw_return
                  sum      mean       std count       mean       std
year month
1995 1      -0.141139 -0.007428  0.016251    19  -0.007277  0.016140
     2      -0.023979 -0.001411  0.033003    17  -0.000891  0.033609
     3       0.163651  0.007115  0.023204    23   0.007401  0.023470
     4      -0.109315 -0.005466  0.020374    20  -0.005255  0.020169
     5       0.188901  0.008586  0.077844    22   0.011645  0.083211

<font size="6" color=red>季度收益</font>

<font size="6" color=#87CEEB>✨加入了自己的先按月分组思考✨</font>

In [ ]:
# 计算季度收益率
# 法1：使用resample函数的'QE'参数（季度末）
Quarter_data1 = data_new.resample('QE')['Log_return'].sum().to_frame(name='Log_return')
Quarter_data1['Raw_Return'] = np.exp(Quarter_data1['Log_return']) - 1
Quarter_data1['Year'] = Quarter_data1.index.year
Quarter_data1['Quarter'] = Quarter_data1.index.quarter

# 法2：使用季度末价格计算
Quarter_data2 = data_new.resample('QE')['Close'].last().to_frame()
Quarter_data2['Preclose'] = Quarter_data2['Close'].shift(1)
Quarter_data2['Raw_return'] = Quarter_data2['Close'] / Quarter_data2['Preclose'] - 1
Quarter_data2['Log_return'] = np.log(Quarter_data2['Close']) - np.log(Quarter_data2['Preclose'])

# 法3：使用groupby方法
# 添加年月季度信息
data_new['Year'] = data_new.index.year
data_new['Quarter'] = ((data_new.index.month - 1) // 3) + 1  # 1~4季度
# 按年+季度分组，先把对数收益率加总，再转为原始收益率
Quarter_data3 = (
    data_new.groupby(['Year', 'Quarter'])['Log_return']
    .sum()
    .to_frame(name='Log_return')
    .reset_index()
)
Quarter_data3['Raw_Return'] = np.exp(Quarter_data3['Log_return']) - 1

# 显示结果
print("季度对数收益率汇总:")
Quarter_data1
print("\n季度末价格计算的收益率:")
Quarter_data2
print("groupby方法算\n季度末价格计算的收益率:")
Quarter_data3

季度对数收益率汇总:

            Log_return  Raw_Return  Year  Quarter
Day
1995-03-31   -0.001467   -0.001466  1995        1
1995-06-30   -0.025583   -0.025258  1995        2
1995-09-30    0.135980    0.145660  1995        3
1995-12-31   -0.263130   -0.231358  1995        4
1996-03-31    0.001979    0.001981  1996        1
...                ...         ...   ...      ...
2024-09-30    0.117234    0.124383  2024        3
2024-12-31    0.004565    0.004575  2024        4
2025-03-31   -0.004790   -0.004779  2025        1
2025-06-30    0.032061    0.032580  2025        2
2025-09-30    0.113373    0.120049  2025        3

[123 rows x 4 columns]

季度末价格计算的收益率:

               Close   Preclose  Raw_return  Log_return
Day
1995-03-31   646.920        NaN         NaN         NaN
1995-06-30   630.580   646.9200   -0.025258   -0.025583
1995-09-30   722.430   630.5800    0.145660    0.135980
1995-12-31   555.290   722.4300   -0.231358   -0.263130
1996-03-31   556.390   555.2900    0.001981    0.001979
...              ...        ...         ...         ...
2024-09-30  3336.497  2967.4028    0.124383    0.117234
2024-12-31  3351.763  3336.4970    0.004575    0.004565
2025-03-31  3335.746  3351.7630   -0.004779   -0.004790
2025-06-30  3444.426  3335.7460    0.032580    0.032061
2025-09-30  3857.927  3444.4260    0.120049    0.113373

[123 rows x 4 columns]

groupby方法算
季度末价格计算的收益率:

     Year  Quarter  Log_return  Raw_Return
0    1995        1   -0.001467   -0.001466
1    1995        2   -0.025583   -0.025258
2    1995        3    0.135980    0.145660
3    1995        4   -0.263130   -0.231358
4    1996        1    0.001979    0.001981
..    ...      ...         ...         ...
118  2024        3    0.117234    0.124383
119  2024        4    0.004565    0.004575
120  2025        1   -0.004790   -0.004779
121  2025        2    0.032061    0.032580
122  2025        3    0.113373    0.120049

[123 rows x 4 columns]

<font size="6" color=red>年度收益</font>

In [13]:
# 法1：使用resample函数
Year_data1 = data_new.resample('YE')['Log_return'].sum().to_frame(name='Log_return')
Year_data1['Raw_Return'] = np.exp(Year_data1['Log_return']) - 1

# 方法2：使用年末价格计算
Year_data2 = data_new.resample('YE')['Close'].last().to_frame()
Year_data2['Preclose'] = Year_data2['Close'].shift(1)
Year_data2['Raw_return'] = Year_data2['Close'] / Year_data2['Preclose'] - 1
Year_data2['Log_return'] = np.log(Year_data2['Close']) - np.log(Year_data2['Preclose'])

# 方法3：使用groupby按年分组
data_new4 = data_new.copy()
data_new4['year'] = data_new4.index.year
Year_data3 = data_new4.groupby('year')['Log_return'].sum().to_frame()
Year_data3['Raw_Return'] = np.exp(Year_data3['Log_return']) - 1

# 显示结果
print("年度对数收益率汇总:")
Year_data1
print("\n年末价格计算的收益率:")
Year_data2
print("\n使用groupby计算的年度收益率:")
Year_data3

年度对数收益率汇总:

            Log_return  Raw_Return
Day
1995-12-31   -0.154200   -0.142899
1996-12-31    0.501639    0.651425
1997-12-31    0.264019    0.302153
1998-12-31   -0.040505   -0.039695
1999-12-31    0.175423    0.191750
2000-12-31    0.416917    0.517277
2001-12-31   -0.230898   -0.206180
2002-12-31   -0.192575   -0.175167
2003-12-31    0.097735    0.102670
2004-12-31   -0.167233   -0.153997
2005-12-31   -0.086924   -0.083253
2006-12-31    0.834792    1.304334
2007-12-31    0.676302    0.966593
2008-12-31   -1.061146   -0.653941
2009-12-31    0.587690    0.799825
2010-12-31   -0.154470   -0.143131
2011-12-31   -0.244307   -0.216753
2012-12-31    0.031203    0.031695
2013-12-31   -0.069878   -0.067493
2014-12-31    0.424412    0.528691
2015-12-31    0.089965    0.094136
2016-12-31   -0.131319   -0.123062
2017-12-31    0.063517    0.065578
2018-12-31   -0.282245   -0.245911
2019-12-31    0.201333    0.223032
2020-12-31    0.129858    0.138667
2021-12-31    0.046884    0.048001
2022-12-31   -0.163991   -0.151250
2023-12-31   -0.037709   -0.037007
2024-12-31    0.119264    0.126668
2025-12-31    0.140644    0.151014

年末价格计算的收益率:

                Close   Preclose  Raw_return  Log_return
Day
1995-12-31   555.2900        NaN         NaN         NaN
1996-12-31   917.0200   555.2900    0.651425    0.501639
1997-12-31  1194.1000   917.0200    0.302153    0.264019
1998-12-31  1146.7000  1194.1000   -0.039695   -0.040505
1999-12-31  1366.5800  1146.7000    0.191750    0.175423
2000-12-31  2073.4800  1366.5800    0.517277    0.416917
2001-12-31  1645.9700  2073.4800   -0.206180   -0.230898
2002-12-31  1357.6500  1645.9700   -0.175167   -0.192575
2003-12-31  1497.0400  1357.6500    0.102670    0.097735
2004-12-31  1266.5000  1497.0400   -0.153997   -0.167233
2005-12-31  1161.0600  1266.5000   -0.083253   -0.086924
2006-12-31  2675.4700  1161.0600    1.304334    0.834792
2007-12-31  5261.5600  2675.4700    0.966593    0.676302
2008-12-31  1820.8100  5261.5600   -0.653941   -1.061146
2009-12-31  3277.1400  1820.8100    0.799825    0.587690
2010-12-31  2808.0800  3277.1400   -0.143131   -0.154470
2011-12-31  2199.4200  2808.0800   -0.216753   -0.244307
2012-12-31  2269.1300  2199.4200    0.031695    0.031203
2013-12-31  2115.9800  2269.1300   -0.067493   -0.069878
2014-12-31  3234.6800  2115.9800    0.528691    0.424412
2015-12-31  3539.1800  3234.6800    0.094136    0.089965
2016-12-31  3103.6400  3539.1800   -0.123062   -0.131319
2017-12-31  3307.1700  3103.6400    0.065578    0.063517
2018-12-31  2493.9000  3307.1700   -0.245911   -0.282245
2019-12-31  3050.1200  2493.9000    0.223032    0.201333
2020-12-31  3473.0700  3050.1200    0.138667    0.129858
2021-12-31  3639.7800  3473.0700    0.048001    0.046884
2022-12-31  3089.2579  3639.7800   -0.151251   -0.163992
2023-12-31  2974.9348  3089.2579   -0.037007   -0.037709
2024-12-31  3351.7630  2974.9348    0.126668    0.119264
2025-12-31  3857.9270  3351.7630    0.151014    0.140644

使用groupby计算的年度收益率:

      Log_return  Raw_Return
year
1995   -0.154200   -0.142899
1996    0.501639    0.651425
1997    0.264019    0.302153
1998   -0.040505   -0.039695
1999    0.175423    0.191750
2000    0.416917    0.517277
2001   -0.230898   -0.206180
2002   -0.192575   -0.175167
2003    0.097735    0.102670
2004   -0.167233   -0.153997
2005   -0.086924   -0.083253
2006    0.834792    1.304334
2007    0.676302    0.966593
2008   -1.061146   -0.653941
2009    0.587690    0.799825
2010   -0.154470   -0.143131
2011   -0.244307   -0.216753
2012    0.031203    0.031695
2013   -0.069878   -0.067493
2014    0.424412    0.528691
2015    0.089965    0.094136
2016   -0.131319   -0.123062
2017    0.063517    0.065578
2018   -0.282245   -0.245911
2019    0.201333    0.223032
2020    0.129858    0.138667
2021    0.046884    0.048001
2022   -0.163991   -0.151250
2023   -0.037709   -0.037007
2024    0.119264    0.126668
2025    0.140644    0.151014

<font size="6" color=red>计算滚动收益率</font>   
在数据时间轴上进行逐步滑动，每次窗口向前推进一个单位，并对窗口内的观测值计算统计量。

In [ ]:
# 方法1：使用rolling窗口函数计算滚动对数收益率之和
rolling_returns = pd.DataFrame()
for window in [5, 10, 20, 30, 60]:    #设置窗口大小
    # 计算滚动窗口的对数收益率之和
    rolling_log_return = data_new['Log_return'].rolling(window=window).sum()
    # 转换为原始收益率
    rolling_returns[f'Rolling_{window}d_Return'] = np.exp(rolling_log_return) - 1

# 方法2：使用pct_change计算滚动价格变化
rolling_price_returns = pd.DataFrame()
for window in [5, 10, 20, 30, 60]:
    rolling_price_returns[f'Rolling_{window}d_Price_Return'] = data_new['Close'].pct_change(periods=window)

# 显示结果
print("滚动收益率 (基于对数收益率累加):")
print(rolling_returns.tail())
print("\n滚动收益率 (基于价格变化):")
print(rolling_price_returns.tail())

滚动收益率 (基于对数收益率累加):
            Rolling_5d_Return  Rolling_10d_Return  Rolling_20d_Return  \
Day
2025-08-25           0.041720            0.064705            0.079386
2025-08-26           0.037854            0.055229            0.071660
2025-08-27           0.009065            0.031732            0.051064
2025-08-28           0.019225            0.048318            0.075671
2025-08-29           0.008408            0.043594            0.083702

            Rolling_30d_Return  Rolling_60d_Return
Day
2025-08-25            0.103394            0.160143
2025-08-26            0.103676            0.150627
2025-08-27            0.084644            0.125628
2025-08-28            0.092916            0.135781
2025-08-29            0.091511            0.139592

滚动收益率 (基于价格变化):
            Rolling_5d_Price_Return  Rolling_10d_Price_Return  \
Day
2025-08-25                 0.041720                  0.064705
2025-08-26                 0.037854                  0.055229
2025-08-27                 0.009065                  0.031732
2025-08-28                 0.019225                  0.048318
2025-08-29                 0.008408                  0.043594

            Rolling_20d_Price_Return  Rolling_30d_Price_Return  \
Day
2025-08-25                  0.079386                  0.103394
2025-08-26                  0.071660                  0.103676
2025-08-27                  0.051064                  0.084644
2025-08-28                  0.075671                  0.092916
2025-08-29                  0.083702                  0.091511

            Rolling_60d_Price_Return
Day
2025-08-25                  0.160143
2025-08-26                  0.150627
2025-08-27                  0.125628
2025-08-28                  0.135781
2025-08-29                  0.139592

In [19]:
# 计算累积收益率
# 累积收益率用于观察长期投资表现，从某个起始点开始累积

# 方法1：使用对数收益率累加后转换
# 这是最准确的方法，特别是对于长期累积
cumulative_returns = pd.DataFrame()
cumulative_returns['Cumulative_Log_Return'] = data_new['Log_return'].cumsum() #cumsum()从头加到尾
cumulative_returns['Cumulative_Return'] = np.exp(cumulative_returns['Cumulative_Log_Return']) - 1

# 方法2：使用cumprod函数直接累乘(1+r)
# 这种方法在金融实践中也很常见
cumulative_returns['Cumulative_Return_Prod'] = (1 + data_new['Raw_return']).cumprod() - 1 #对现实收益率

# 方法3：使用pandas的累积函数
cumulative_returns['Cumulative_Return_Alt'] = data_new['Raw_return'].add(1).cumprod().sub(1)

# 显示结果
print("不同方法计算的累积收益率:")
cumulative_returns

不同方法计算的累积收益率:

,Cumulative_Log_Return,Cumulative_Return,Cumulative_Return_Prod,Cumulative_Return_Alt
Day,,,,
1995-01-03,-0.012409,-0.012333,-0.012333,-0.012333
1995-01-04,0.009127,0.009169,0.009169,0.009169
1995-01-05,-0.001514,-0.001513,-0.001513,-0.001513
1995-01-06,-0.011035,-0.010974,-0.010974,-0.010974
1995-01-09,-0.034340,-0.033757,-0.033757,-0.033757
...,...,...,...,...
2025-08-25,1.790819,4.994361,4.994361,4.994361
2025-08-26,1.786903,4.970931,4.970931,4.970931
2025-08-27,1.769160,4.865922,4.865922,4.865922
2025-08-28,1.780475,4.932675,4.932675,4.932675
2025-08-29,1.784196,4.954793,4.954793,4.954793